#header{
    width: 100%;
    height: 3.2em;
    line-height: 3.2em;
    background: #333;
    box-shadow: 0 0 5px 5px #222;
    
}
.header-top{
    width: 90%;
    margin:0 auto;
}
.top-left-nav{
    color: #ccc;
}
.top-left-nav__item{
    display: block;
    color: #b0b0b0;
}
.top-left-nav__item:hover{
    color: #fff;
}
.top-left-nav__item--selected{
    color: #fff;
}
.top-right-nav{
    color: #ccc;
}
.top-right-nav__item{
    display: block;
    color: #b0b0b0;
}
.top-right-nav__item:hover{
    color: #fff;
}
.top-cart{
    margin: 0 1.55rem;
    width: 10rem;
    float: right;
    text-align: center;
    cursor: pointer;
    background: #22b14c;
}
.top-cart__item{
    display: block;
    color: #fff;
}
.top-cart__item:hover{
    background: orange;
    
}

@font-face{
    font-family: "glyphicons";
    src: url(../fonts/glyphicons-regular.eot),
    url(../fonts/glyphicons-regular.svg),
    url(../fonts/glyphicons-regular.ttf),
    url(../fonts/glyphicons-regular.woff);
    
}
.icon{
    display: inline-block;
    font-family: "glyphicons";
    position: relative;
    top: 3px;

}

.icon-login:before{
    /* 把span的内容显示为图标的标识代码 */
    content: "\e004";
}
.icon-car:before{
    /* 把span的内容显示为图标的标识代码 */
    content: "\e203";
}
.icon-search:before{
    /* 把span的内容显示为图标的标识代码 */
    content: "\e028";
}
.icon-meun::before{
        content:"\e114";
}
.header-toolbar a{
    color: #808080;
    text-decoration: none;
}
.header-toolbar a:hover{
    color: #fff;
}
.header-toolbar{
    width: 32px;
    height: 32px;
    overflow: hidden;
    background: #000;
    border-radius: 0 0 35px 35px;
    text-align: center;
    line-height: 27px;
    display: none;
    
}
.header-toolbar:hover{
        height: 120px;
}




.header-nav{
    width: 90%;
    height: 8.33rem;
    margin: 0 auto;
   
}
.header-nav__logo{
    display: block;
    background: url(../image/logo_top.png)no-repeat center center;
    width: 4.16rem;
    height: 8.33rem;

}
.header-nav__ad{
    display: block;
    width: 15rem;
    height: 8.33rem;
    background: url(../image/yyymix.gif)no-repeat center center;
}
.header-nav__subnav{
    height: 8.33rem;
    line-height: 8.33rem;
    text-align: center;
}
.header-nav__subnav__item{
    width: 3rem;
    display: inline-block;
    color: #000;
    font-size: 1.33rem;
    padding: 0 0.5rem;
}
.header-nav__subnav__item--weight{
    width: 7.5rem;
}
.header-nav__subnav__item:hover{
    color: rgb(34,177,76);
}
.header-nav__search{
    width: 25.66rem;
    height: 8.33rem;
    line-height: 8.33rem;
    overflow: hidden;
    float: right;
    padding-right: 0px;
}
.header-nav__search .search__text{
    float: left;
    width: 15.3rem;
    height: 3.4rem;
    line-height: 3.4rem;
    margin-top: 2.2rem;
    border: 0 none;
    border-radius: 0.5rem 0px 0px 0.5rem;
    overflow: hidden;
}
.header-nav__search .search__text-input{
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    border-bottom: 0;
    background: rgb(197, 195, 195);
    border:none;
    outline: none;
}
.header-nav__search .search__text-input:hover{
    background: #fff;
    box-shadow: 0 0 0.5rem #22b14c inset;
}
.header-nav__search .search__submit{
    float: left;
    width: 3.3rem;
    height: 3.4rem;
    line-height: 3.4rem;
    text-align: center;
    margin-top: 2.2rem;
    border: none; 
    border-radius: 0 0.5rem 0.5rem 0px;
    overflow: hidden;
}
.header-nav__search .search__submit-button{
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #22b14c;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
}
.header-nav__search .search__submit-button:hover{
    background: orange;
}




.header-detail{
    width: 100%;
    height: 4.83rem;
    background: rgb(240, 240, 240);
    margin: 0 auto;
    
}

.header-detail__top{
    height: 4.83rem;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}
.header-detail__top__title{
    width: 25.0rem;
    height: 4.83rem;
    line-height: 4.83rem;
    font-size: 1.83rem;
    font-weight: bold;
    float: left;
}
.header-detail__top__nav{
    float: right;
    display: block;
    width: 34.16rem;
    height: 4.83rem;
    line-height: 4.83rem;
    overflow: hidden;
}
.header-detail__top li{
    font-size: 1.16rem;
    float: left;
    display: block;
    margin: 0.0rem 0.41rem;
}
.header-detail__top__nav li a{
    color: #333;
    font-size: 1.16rem;
}
.header-detail__top li a:hover{
    color: #22b14c;
}





.header-detail__body{
    height: 700px;
    width: 90%;
    margin: 0 auto;
    margin-top: 1.66rem;
}
.header-detail__body__image{
    width: 48%;
    height: 600px;
    border: 0.08rem solid #ccc;
    float: left;
    overflow: hidden;
    text-align: center;
    padding: 80px 0 0 0;
   
    
}
.header-detail__body__image img{
    height: 80%;
    width: 80%;
    
   

}
.header-detail__body__desc{
    width: 50%;
    background: rgb(248, 248, 248);
    height:680px;
    padding-right: 1.16rem;
    float: right;
}
.header-detail__body__desc .desc__title{
    font-size: 18px;
    font-weight: bold;
    margin: 1.66rem 0 0 1.66rem;
}
.header-detail__body__desc .desc__text{
    font-size: 16px;
    color: rgb(176,176,176);
    line-height: 1.66rem;
    margin: 0.83rem 3.33rem 0 1.66rem;
}
.header-detail__body__desc .desc__price{
    font-size: 1.5rem;
    color:#22b14c;
    font-weight: bold;
    margin: 00.83rem 0 0 1.66rem;
}
.header-detail__body__desc .desc__version,
.header-detail__body__desc .desc__color
{
  font-size: 20px;
  margin: 1.66rem 0 0 1.66rem;
}
.version__list{
    height: 6rem;
    line-height: 2.5rem;
    margin: 0.73rem 0 0 1.56rem;
    overflow: hidden;
}
.color__list{
    height: 3rem;
    line-height: 2.5rem;
   
    margin: 0.73rem 0 0 1.56rem;
    overflow: hidden;
}
.version__list div{
    height: 2.5rem;
    line-height: 2.5rem;
    width: 45%;
    cursor: pointer; 
    border: 0.08rem solid #bbb;
    border-radius: 0.41rem;
}
.version__list .version__list-lfet{
    float: left;
}
.version__list .version__list-right{
    float: right;
    margin-right: 5px;
}
.version__list-lfet a,
.version__list-right a,
.color__list__item a{
    display: block;
    color: #000;
    padding: 0 0.5rem;
}
.version__list-right a span,
.version__list-lfet a span,
.color__list__item a span{
 display: inline-block;
 margin-right: 0.63rem;
 font-size: 12px;

}
.version__list-right a span,
.version__list-lfet a span
{
    margin-left: 5%;
}
.color__list div
{
    width: 45%;
    height: 2.5rem;
    line-height: 2.5rem;
    cursor: pointer;   
    border: 0.08rem solid #bbb;
    border-radius: 0.41rem;
}

.color__list__item-dot{
    display: inline-block;
    height: 0.6rem;
    width: 0.6rem;
    border-radius: 50%;
    background: #000;
    margin-left: 5%;
}
.desc__detail{
    height: 8rem;
    width: 90%;
    background: rgb(255, 255, 255);
    padding: 0.5rem;
    margin: 1.66rem 0 0 1.66rem;
    line-height: 3rem;
}
.desc__detail .desc__detail__text{
    margin: 0.83rem 0 0 0;
    overflow: hidden;
}
.desc__detail .desc__detail__text .desc__detail__text-left{
    float: left;
    font-size: 18px;
    overflow: hidden;
}
.desc__detail .desc__detail__text .desc__detail__text-right
{
    float: right;
    font-size: 18px;
    overflow: hidden;
}
.desc__detail .desc__detail__price{
    font-size: 18px;
    color: #22b14c;
    font-weight: bold;
   
  

}
.desc__button{
    width: 90%;
    height: 50px;
    line-height:50px;
    margin: 1.66rem auto;
}
.desc__button .button__order{
    height: 50px;
    width: 30%;
    border: none;
    background: #22b14c;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-right:2rem;
    border-radius: 0.41rem;
}
@keyframes inputAnim{
    form{
        transform: scale(0.5,0.5);
    }
    to{
        transform: scale(1.2,1.2);
    }

}



.header-detail__body__image:hover img{
    animation: inputAnim 800ms 0s reverse infinite;
}

.version__list-lfet:hover,
.version__list-right:hover,
.color__list__item:hover{
    box-shadow: 0.2rem 0.2rem 0.2rem rgb(138, 136, 136);
    color: #22b14c;
    border: 0.08rem solid #22b14c;
    transition: all .6s 0s ease-in-out;
}

.button__order:hover{
    background: orange;
    box-shadow: 0.2rem 0.2rem 0.2rem rgb(121, 119, 119);
    transition: all .6s ease-in-out;
}



.footer{
    width: 100%;
    height: 4rem;
    line-height: 2.6rem;
    text-align: center;
    background: #333; 
    color: #ccc;
    margin: 3rem auto 0 auto;
    overflow: hidden;
    box-shadow: -0.5rem 0 0.5rem rgb(143, 136, 136);
}
@media all and (max-width:1100px) 
{
    
    #header-nav{
        display: none;
    }
    .header-detail__top__nav
    {
        display: none;
    }
    .header-detail__top__title
    {
        width: 100%;
    }
     
    .grid-cell-3{
        display: none;
    }
   ul{
       width: 95%;
       overflow: hidden;
   }
    
    .top-right-nav{
        display: none;
    }
   .header-toolbar{
       display: block;
   }
   .header-detail__body{
    height: 1150px;
   
}
   .header-detail__body__image{
    width: 100%;
    height: 400px;
    float: none;
    padding: 40px 0 0 0; 

}

   .header-detail__body__desc
   {
       margin: 0 auto;
       height: 680px;
       float: none;
       width: 100%;
       padding-right: 0;
      
   }

   .version__list .version__list-lfet{
    float: none;
}
.version__list .version__list-right{
    float: none;
}
.version__list div{
    width: 60%;
    margin-top: 5px;
}
.color__list div{
    width: 60%;
}
.desc__detail .desc__detail__text .desc__detail__text-left
{
    font-size: 12px;
}
.desc__detail .desc__detail__text .desc__detail__text-right{
    font-size: 12px;
}
.footer{
    height: 8rem;
}
}
@media all and (max-width: 414px)
{
   
    .header-detail__body__desc
    {
       height: 720px;
       
    }
    .desc__button .button__order{
        height: 30px;
        margin-left:4rem;
      
    }
    a{
        font-size: 12px;
    }
  
    .header-toolbar{
        width: 25px;
    }
    .desc__button
    {
        margin: 0 auto;
    }
    .desc__button .button__order
    {
        font-size: 12px;
        margin-left:10px;
    }
    .version__list div{
        width: 90%;
       
    }
    
    .color__list div{
        width: 90%;
    }
}

@media all and (max-width:280px)
{
    
    .version__list div{
        width: 100%;
        
    }
    .color__list div{
        width: 100%;
    }
    .desc__button .button__order
    {
        font-size: 12px;
        margin-left:0px;
    }
}
